@font-face {
    font-family: Staatliches;
    src: url('src/assets/fonts/Staatliches-Regular.ttf');
}

nav {
    font-family: Staatliches;
    margin-bottom: 64px;
}

p {
    color: #FFF;
    font-family: Staatliches;
    line-height: 90%;
}

a {
    color: #FFF;
    text-decoration: none;
}

.title {
    font-size: 32px;
}

.subtitle {
    font-size: 24px;
}

#info-name {
    text-align: left;
    position: absolute;
    top: 40px;
}

#info-stats {
    text-align: right;
    position: relative;
    top: 24px;
}

#navbar {
    text-align: center;
    width: 560px;
    height: 80px;
    border-radius: 153px;
    border: solid 4px #FFF;
    position: relative;
    top: 16px;
}

#navbar a {
    position: relative;
    top: 14px;
    margin-left: 16px;
    font-size: 32px;
}

#navbar a:hover {
    color: #2B93CB;
}