<nav>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <div id="info-name">
                    <p class="title">Ariel Martins</p>
                    <p class="subtitle">Web Designer</p>
                </div>
            </div>
            <div class="column">
                <div id="navbar">
                    <a href="#info-name">Home</a>
                    <a href="">UI/UX</a>
                    <a href="">Web Design</a>
                    <a href="">Contato</a>
                </div>
            </div>
            <div class="column">
                <div id="info-stats">
                    <p class="title">20 anos</p>
                    <p class="subtitle">Santos/SP</p>
                </div>
            </div>
        </div>
    </div>
</nav>