<div id="banner" class="container is-fullhd">
    <div class="container is-fluid">
        <div id="itens" class="columns">
            <div class="column">
                <figure>
                    <img width="416" height="416" src="assets\images\faceinfo.png" alt="Pessoa negra em um fundo verde, com luzes refletindo em seu rosto, vestindo uma camisa esportiva do time de futebol Santos Futebol Clube. A pessoa está de tranças, sorrindo olhando para sua esquerda.">
                </figure>
            </div>
            <div class="column">
                <p id="saudacao">OLÁ, SEJA BEM VINDE!</p>
                <p id="info">ME CHAMO ARIEL MARTINS, TENHO 20 ANOS E SOU WEB DESIGNER + UI/UX DESIGNER + DESIGNER GRÁFICO.</p>
            </div>
        </div>
    </div>
  </div>